In [7]:
import pandas as pd
city_dem = pd.read_excel('../data/demographicsnapshot201314to201718public_final.xlsx',sheet_name=1)

In [8]:
## This is the enrollment information for a given
city_dem.head()

,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,Grade 6,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,2013-14,1104479,55734,85375,89630,84368,81320,77886,76778,75238,...,0.017040,159797,0.144681,205793,0.186326,146393,0.132545,811627,0.734851,NaN
1,2014-15,1122783,66403,85775,88704,87410,82532,80229,77505,75931,...,0.018514,164590,0.146591,212791,0.189521,146742,0.130695,810688,0.722034,0.632178
2,2015-16,1133963,71847,84386,87804,86930,85309,81287,79581,76798,...,0.020912,167465,0.147681,222496,0.196211,142506,0.125671,801696,0.706986,0.619121
3,2016-17,1141232,72553,82517,86008,86279,85050,84185,80563,78985,...,0.023463,169803,0.148789,228347,0.200088,153466,0.134474,800985,0.701860,0.606029
4,2017-18,1135334,71528,81588,83578,83978,84363,83367,83277,79114,...,0.025006,170417,0.150103,224160,0.197440,153032,0.134790,839705,0.739611,0.706879

In [9]:
## Borough infor
boro_dem = pd.read_excel('../data/demographicsnapshot201314to201718public_final.xlsx',sheet_name=2)
boro_dem.head()

,Borough,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,Bronx,2013-14,233588,10697,18867,19945,18830,18241,17132,16600,...,0.013156,9359,0.040066,50953,0.218132,38391,0.164353,196495,0.841203,NaN
1,Bronx,2014-15,239110,13875,19235,19960,19266,18365,18096,16874,...,0.012576,10650,0.044540,52895,0.221216,38595,0.161411,198620,0.830664,0.781328
2,Bronx,2015-16,241986,15081,18952,20013,19554,18695,18189,17761,...,0.013534,10149,0.041940,54745,0.226232,38372,0.158571,198581,0.820630,0.776010
3,Bronx,2016-17,241776,14825,17974,19579,19611,18943,18505,17824,...,0.015022,10381,0.042936,55462,0.229394,41129,0.170112,197520,0.816955,0.770235
4,Bronx,2017-18,239955,14948,17812,18598,19008,18940,18535,18173,...,0.014661,10531,0.043887,53914,0.224684,41066,0.171140,204871,0.853789,0.846958

In [10]:
## District Info
district_dem = pd.read_excel('../data/demographicsnapshot201314to201718public_final.xlsx',sheet_name=3)
district_dem.head()

,Administrative District,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,Grade 5,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,1,2013-14,12492,985,942,927,882,947,943,858,...,0.024576,2045,0.163705,2585,0.206932,1306,0.104547,8141,0.651697,NaN
1,1,2014-15,12316,1106,901,934,897,871,920,912,...,0.024521,2080,0.168886,2550,0.207048,1200,0.097434,7911,0.642335,0.621343
2,1,2015-16,12009,842,905,912,899,858,849,904,...,0.027313,2065,0.171954,2577,0.214589,1092,0.090932,7556,0.629195,0.614338
3,1,2016-17,11772,827,850,907,889,859,834,808,...,0.030836,2059,0.174907,2555,0.217040,1065,0.090469,7265,0.617142,0.602733
4,1,2017-18,11632,800,851,846,854,862,839,813,...,0.034904,2022,0.173831,2446,0.210282,1013,0.087087,7547,0.648814,0.662587

In [11]:
## School Info
school_dem = pd.read_excel('../data/demographicsnapshot201314to201718public_final.xlsx',sheet_name=4)
school_dem.head()

,DBN,School Name,Year,Total Enrollment,Grade PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,01M015,P.S. 015 Roberto Clemente,2013-14,190,26,39,39,21,16,26,...,0.010526,3,0.015789,65,0.342105,19,0.100000,171,0.900000,NaN
1,01M015,P.S. 015 Roberto Clemente,2014-15,183,18,27,47,31,19,17,...,0.005464,2,0.010929,64,0.349727,17,0.092896,169,0.923497,0.934525
2,01M015,P.S. 015 Roberto Clemente,2015-16,176,14,32,33,39,23,17,...,0.017045,2,0.011364,60,0.340909,16,0.090909,149,0.846591,0.895551
3,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,0.022472,4,0.022472,51,0.286517,12,0.067416,152,0.853933,0.891916
4,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,0.010526,6,0.031579,45,0.236842,8,0.042105,161,0.847368,0.889605

In [14]:
## only keeping the percentages to keep everything in relative terms
dem_columns_to_keep = ['DBN','Total Enrollment','Year','% Female','% Asian','% Black','% Hispanic',
                      '% Multiple Race Categories Not Represented','% White',
                      '% Students with Disabilities','% English Language Learners','% Poverty','Economic Need Index']
relevant_info = school_dem[dem_columns_to_keep]
relevant_info.head()

,DBN,Total Enrollment,Year,% Female,% Asian,% Black,% Hispanic,% Multiple Race Categories Not Represented,% White,% Students with Disabilities,% English Language Learners,% Poverty,Economic Need Index
0,01M015,190,2013-14,0.489474,0.047368,0.378947,0.547368,0.010526,0.015789,0.342105,0.100000,0.900000,NaN
1,01M015,183,2014-15,0.459016,0.043716,0.355191,0.584699,0.005464,0.010929,0.349727,0.092896,0.923497,0.934525
2,01M015,176,2015-16,0.471591,0.051136,0.323864,0.596591,0.017045,0.011364,0.340909,0.090909,0.846591,0.895551
3,01M015,178,2016-17,0.466292,0.078652,0.286517,0.589888,0.022472,0.022472,0.286517,0.067416,0.853933,0.891916
4,01M015,190,2017-18,0.521053,0.105263,0.273684,0.578947,0.010526,0.031579,0.236842,0.042105,0.847368,0.889605

In [15]:
relevant_info.to_csv('../cleaned_data/demographic_info.csv')